---
import servicesData from '../data/expertise.json';
// Each service entry's `key` field selects which inline SVG is rendered.
// To add a new service type, add a matching `{svc.key === 'yourkey' && (...)}` block in the template.
---

<section id="expertise" class="py-20" style="scroll-margin-top: 80px;">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-14 reveal">
      <p class="text-sm font-semibold tracking-widest text-highlight uppercase mb-3">What I do</p>
      <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold section-title">Expertise</h2>
    </div>

    <div class="services-grid max-w-5xl mx-auto">
      {
        servicesData.map((svc, i) => (
          <div class="svc-card reveal" style={`transition-delay:${i * 0.08}s`}>
            <div class="svc-inner">
              <div class="svc-icon-box">
                {svc.key === 'technical-research' && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    class="svc-svg"
                  >
                    <defs>
                      <linearGradient id="svc-g1" x2="100%" y2="100%">
                        <stop offset="0%" stop-color="#6366f1" />
                        <stop offset="40%" stop-color="#818cf8" />
                        <stop offset="60%" stop-color="#4f46e5" />
                        <stop offset="100%" stop-color="#6366f1" />
                      </linearGradient>
                    </defs>
                    <path
                      fill="url(#svc-g1)"
                      d="M17,4V2H7v2h1v13c0,2.21,1.79,4,4,4s4-1.79,4-4V4H17z M14,17c0,1.1-0.9,2-2,2s-2-0.9-2-2V4h4V17z"
                    />
                    <rect 
                      x="10" y="10" width="4" height="7" 
                      fill="url(#svc-g1)" 
                      opacity="0.5" 
                      rx="1"
                    />
                    <circle cx="11.5" cy="8" r="0.8" fill="url(#svc-g1)" />
                    <circle cx="13" cy="11" r="0.5" fill="url(#svc-g1)" opacity="0.7" />
                  </svg>
                )}
                {svc.key === 'webdev' && (
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="svc-svg">
                    <defs>
                      <linearGradient id="svc-g2" x2="100%" y2="100%">
                        <stop offset="0%" stop-color="#6366f1" />
                        <stop offset="40%" stop-color="#818cf8" />
                        <stop offset="60%" stop-color="#4f46e5" />
                        <stop offset="100%" stop-color="#6366f1" />
                      </linearGradient>
                    </defs>
                    <path
                      fill="url(#svc-g2)"
                      d="M 80.000977,10 H 20.230469 c -2.934571,0 -5.321289,2.367188 -5.321289,5.276367 v 42.182678 l -4.861328,28.674744 c -0.1630863,0.958008 0.103515,1.935059 0.732422,2.680176 C 11.416992,89.567871 12.349609,90 13.34082,90 h 73.31836 c 0.985351,0 1.915039,-0.428711 2.550781,-1.175781 0.628906,-0.73877 0.901367,-1.709961 0.74707,-2.665039 L 85.322266,57.464355 V 15.276367 C 85.322266,12.367188 82.935547,10 80.000977,10 Z M 15.115356,68.210937 h 15.806153 l -0.767578,7.782715 H 13.795654 Z M 48.875,58.54541 v 7.665527 H 33.128357 l 0.756042,-7.665527 z m 2,0 h 14.990601 l 0.756042,7.665527 H 50.875 Z m -33.96582,-2 V 20.166504 H 83.322266 V 56.54541 Z m -0.154908,2 h 15.120545 l -0.756043,7.665527 H 15.454468 Z m 16.176819,9.665527 H 48.875 v 7.782715 H 32.163513 Z M 48.875,77.993652 V 88 H 30.979309 l 0.986939,-10.006348 z m 2,0 H 67.783752 L 68.770691,88 H 50.875 Z m 0,-2 v -7.782715 h 15.943909 l 0.767578,7.782715 z M 68.828491,68.210937 H 85.03186 l 1.25708,7.782715 H 69.596069 Z m -0.197265,-2 -0.756043,-7.665527 h 15.59552 l 1.238098,7.665527 z M 20.230469,12 h 59.770508 c 1.831054,0 3.321289,1.469727 3.321289,3.276367 v 2.890137 H 16.90918 V 15.276367 C 16.90918,13.469727 18.399414,12 20.230469,12 Z m -7.921875,75.523926 c -0.251953,-0.29834 -0.354492,-0.672852 -0.289063,-1.055664 l 1.437012,-8.47461 H 29.956665 L 28.969727,88 H 13.34082 c -0.40039,0 -0.776367,-0.173828 -1.032226,-0.476074 z m 75.378906,0.0039 C 87.431641,87.828125 87.057617,88 86.65918,88 H 70.780273 L 69.793335,77.993652 h 16.818603 l 1.370484,8.484864 c 0.06152,0.380859 -0.04297,0.753418 -0.294922,1.049316 z"
                    />
                    <path
                      fill="url(#svc-g2)"
                      d="m 44.287109,29.619629 c -0.178711,-0.30957 -0.508789,-0.5 -0.866211,-0.5 h -9.510742 c -0.357422,0 -0.6875,0.19043 -0.866211,0.5 l -4.754882,8.236328 c -0.178711,0.30957 -0.178711,0.69043 0,1 l 4.754882,8.236328 c 0.178711,0.30957 0.508789,0.5 0.866211,0.5 h 9.510742 c 0.357422,0 0.6875,-0.19043 0.866211,-0.5 l 4.754883,-8.236328 c 0.178711,-0.30957 0.178711,-0.69043 0,-1 z M 42.84375,45.592285 h -8.356445 l -4.177735,-7.236328 4.177735,-7.236328 h 8.356445 l 4.177734,7.236328 z"
                    />
                    <path
                      fill="url(#svc-g2)"
                      d="M 70.844727,29.119629 H 54.561523 c -0.552734,0 -1,0.447754 -1,1 v 16.472656 c 0,0.552246 0.447266,1 1,1 h 16.283204 c 0.552734,0 1,-0.447754 1,-1 V 30.119629 c 0,-0.552246 -0.447266,-1 -1,-1 z m -1,16.472656 H 55.561523 V 31.119629 h 14.283203 z"
                    />
                  </svg>
                )}
                {svc.key === 'ai-solutions' && (
                  <svg 
                    width="80px" 
                    height="80px" 
                    viewBox="0 0 80 80" 
                    class="svc-svg"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <defs>
                      <linearGradient id="svc-g-ai-custom" x1="0%" y1="100%" x2="100%" y2="0%">
                        <stop offset="0%" stop-color="#6366f1" />
                        <stop offset="40%" stop-color="#818cf8" />
                        <stop offset="60%" stop-color="#4f46e5" />
                        <stop offset="100%" stop-color="#6366f1" />
                      </linearGradient>
                    </defs>
                    
                    <path 
                      fill="url(#svc-g-ai-custom)"
                      d="M54.034,26.0335731 C54.034,26.5935654 53.578,27.0495592 53.017,27.0495592 C52.458,27.0495592 52.002,26.5935654 52.002,26.0335731 C52.002,25.4735807 52.458,25.0175869 53.017,25.0175869 C53.578,25.0175869 54.034,25.4735807 54.034,26.0335731 L54.034,26.0335731 Z M48.002,36.000437 C48.002,35.4494445 48.45,35.0004506 49.002,35.0004506 C49.554,35.0004506 50.002,35.4494445 50.002,36.000437 C50.002,36.5514294 49.554,37.0004233 49.002,37.0004233 C48.45,37.0004233 48.002,36.5514294 48.002,36.000437 L48.002,36.000437 Z M48.002,55.0001775 C48.002,54.449185 48.45,54.0001912 49.002,54.0001912 C49.554,54.0001912 50.002,54.449185 50.002,55.0001775 C50.002,55.55117 49.554,56.0001639 49.002,56.0001639 C48.45,56.0001639 48.002,55.55117 48.002,55.0001775 L48.002,55.0001775 Z M58.002,42.000355 C58.002,42.5513475 57.554,43.0003414 57.002,43.0003414 C56.45,43.0003414 56.002,42.5513475 56.002,42.000355 C56.002,41.4493626 56.45,41.0003687 57.002,41.0003687 C57.554,41.0003687 58.002,41.4493626 58.002,42.000355 L58.002,42.000355 Z M65,45.2723104 L59.963,42.3823498 C59.979,42.2563515 60.002,42.1313532 60.002,42.000355 C60.002,40.3463776 58.656,39.000396 57.002,39.000396 C55.347,39.000396 54.002,40.3463776 54.002,42.000355 C54.002,43.6543324 55.347,45.0003141 57.002,45.0003141 C57.801,45.0003141 58.523,44.6813184 59.061,44.1713254 L63.886,46.9392876 L59.555,49.105258 C59.216,49.2752557 59.002,49.621251 59.002,50.0002458 L59.002,58.4411305 L46.983,65.8370295 L41.003,62.4200762 L41.003,56.0001639 L46.186,56.0001639 C46.6,57.161148 47.7,58.0001366 49.002,58.0001366 C50.656,58.0001366 52.002,56.6541549 52.002,55.0001775 C52.002,53.3452001 50.656,52.0002185 49.002,52.0002185 C47.7,52.0002185 46.6,52.838207 46.186,54.0001912 L41.003,54.0001912 L41.003,40.0003823 C41.003,39.6493871 40.818,39.3233916 40.517,39.1423941 L35.516,36.142435 L34.487,37.8574116 L39.003,40.5663746 L39.003,43.5073345 L33.002,48.1232714 L33.002,44.0003277 C33.002,43.6963319 32.864,43.4083358 32.627,43.2193384 L28.002,39.5193889 L28.002,34.535457 L33.556,30.8325075 C33.835,30.6465101 34.002,30.3345143 34.002,30.0005189 L34.002,24.0006008 L32.002,24.0006008 L32.002,29.4655262 L27.013,32.7904808 L22.002,29.4635262 L22.002,21.5746339 L27.002,18.6586738 L27.002,27.0005599 L29.002,27.0005599 L29.002,17.4916897 L33.005,15.1567216 L39.001,18.6156744 L39.002,31.0005052 C39.002,31.3595003 39.194,31.6904958 39.506,31.8684934 L46.042,35.6034424 C46.024,35.7344406 46.002,35.8644388 46.002,36.000437 C46.002,37.6544144 47.347,39.000396 49.002,39.000396 C50.656,39.000396 52.002,37.6544144 52.002,36.000437 C52.002,34.3464595 50.656,33.0004779 49.002,33.0004779 C48.208,33.0004779 47.49,33.3154736 46.953,33.8204667 L41.002,30.4195132 L41.001,18.6176743 L46.964,15.1767213 L58.002,22.5356208 L58.002,25.0005872 L55.851,25.0005872 C55.429,23.844603 54.318,23.0176142 53.017,23.0176142 C51.354,23.0176142 50.002,24.3705958 50.002,26.0335731 C50.002,27.6965504 51.354,29.0495319 53.017,29.0495319 C54.343,29.0495319 55.471,28.1905436 55.875,27.0005599 L58.002,27.0005599 L58.002,30.0005189 C58.002,30.359514 58.194,30.6905095 58.506,30.868507 L65,34.5804564 L65,45.2723104 Z M33.02,65.8370295 L29.867,63.897056 L35.583,59.8141118 L34.421,58.186134 L28.018,62.7590716 L21.002,58.4411305 L21.002,50.5662381 L25.516,47.8572751 L24.487,46.1422985 L19.958,48.8602614 L15.002,46.3822952 L15.001,40.6173739 L20.449,37.8944111 L19.555,36.1054355 L15.001,38.3814044 L15.002,34.5804564 L20.963,31.1745029 L26.002,34.5194572 L26.002,39.4803894 L20.449,43.1673391 L21.555,44.8333163 L26.958,41.2453653 L31.002,44.4803212 L31.002,49.6622504 L26.392,53.207202 L27.611,54.7921804 L39.003,46.0303 L39.003,62.4190762 L33.02,65.8370295 Z M66.496,33.1324761 L60.002,29.4205268 L60.002,22.0006281 C60.002,21.6656327 59.835,21.353637 59.556,21.1686395 L47.556,13.1687487 C47.24,12.9587516 46.832,12.9447518 46.502,13.1347492 L40.004,16.884698 L33.502,13.1347492 C33.19,12.9547517 32.807,12.9547517 32.498,13.1367492 L20.498,20.1366536 C20.19,20.3156511 20.002,20.6446466 20.002,21.0006418 L20.002,29.4205268 L13.506,33.1324761 C13.194,33.3094737 13.002,33.6414692 13.002,34.0004643 L13.002,34.4174586 C13.001,34.4384583 13,34.458458 13,34.4794577 L13,45.3633091 C13,45.3833088 13.001,45.4033086 13.002,45.4223083 L13.002,47.0002868 C13.002,47.3792816 13.216,47.7252769 13.555,47.8942745 L19.002,50.6182374 L19.002,59.0001229 C19.002,59.3471182 19.181,59.6691138 19.477,59.8511113 L32.477,67.851002 C32.638,67.9500007 32.82,68 33.002,68 C33.173,68 33.344,67.9560006 33.498,67.8680018 L40.003,64.1520525 L46.506,67.8680018 C46.821,68.0489993 47.213,68.0419994 47.526,67.851002 L60.526,59.8511113 C60.822,59.6691138 61.002,59.3471182 61.002,59.0001229 L61.002,50.6182374 L66.447,47.8942745 C66.786,47.7252769 67,47.3792816 67,47.0002868 L67,34.0004643 C67,33.6414692 66.807,33.3104737 66.496,33.1324761 L66.496,33.1324761 Z"
                    />
                  </svg>
                )}
                {svc.key === 'leadership' && (
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 82.428" class="svc-svg">
                    <defs>
                      <linearGradient id="svc-g4a" x2="100%" y2="100%">
                        <stop offset="0%" stop-color="#6366f1" />
                        <stop offset="40%" stop-color="#818cf8" />
                        <stop offset="60%" stop-color="#4f46e5" />
                        <stop offset="100%" stop-color="#6366f1" />
                      </linearGradient>
                      <linearGradient id="svc-g4b" x2="100%" y2="100%">
                        <stop offset="0%" stop-color="#312e81" />
                        <stop offset="100%" stop-color="#1e1b4b" />
                      </linearGradient>
                      <linearGradient id="svc-g4c" x2="100%" y2="100%">
                        <stop offset="0%" stop-color="#3730a3" />
                        <stop offset="100%" stop-color="#312e81" />
                      </linearGradient>
                    </defs>
                    <path
                      fill="url(#svc-g4b)"
                      d="M90.702,27.135c-3.131,0-5.673,2.541-5.673,5.661c0,3.119,2.542,5.661,5.673,5.661c3.119,0,5.66-2.542,5.66-5.661C96.362,29.676,93.821,27.135,90.702,27.135z"
                    />
                    <path
                      fill="url(#svc-g4b)"
                      d="M9.31,27.135c-3.131,0-5.673,2.541-5.673,5.661c0,3.119,2.542,5.661,5.673,5.661c3.119,0,5.661-2.542,5.661-5.661C14.971,29.676,12.429,27.135,9.31,27.135z"
                    />
                    <path
                      fill="url(#svc-g4c)"
                      d="M73.853,16.837c-4.648,0-8.418,3.782-8.418,8.431c0,4.643,3.77,8.419,8.418,8.419c4.649,0,8.431-3.776,8.431-8.419C82.283,20.619,78.502,16.837,73.853,16.837z"
                    />
                    <path
                      fill="url(#svc-g4b)"
                      d="M100,68.071h-9.599V50.403c0-3.041-0.892-5.859-2.325-8.31c0.844-0.247,1.711-0.422,2.626-0.422c5.119,0,9.298,4.179,9.298,9.31V68.071z"
                    />
                    <path
                      fill="url(#svc-g4c)"
                      d="M26.147,16.837c-4.649,0-8.431,3.782-8.431,8.431c0,4.643,3.781,8.419,8.431,8.419c4.637,0,8.418-3.776,8.418-8.419C34.565,20.619,30.784,16.837,26.147,16.837z"
                    />
                    <path
                      fill="url(#svc-g4b)"
                      d="M9.31,41.671c0.915,0,1.771,0.175,2.613,0.422c-1.445,2.451-2.324,5.269-2.324,8.31v17.668H0v-17.09C0,45.851,4.179,41.671,9.31,41.671z"
                    />
                    <path
                      fill="url(#svc-g4a)"
                      d="M49.994,0c-6.865,0-12.453,5.588-12.453,12.453c0,6.871,5.588,12.465,12.453,12.465s12.465-5.594,12.465-12.465C62.459,5.588,56.859,0,49.994,0z"
                    />
                    <path
                      fill="url(#svc-g4c)"
                      d="M87.317,74.647H72.612V47.766c0-3.697-0.976-7.136-2.554-10.219c1.205-0.355,2.47-0.608,3.794-0.608c7.419,0,13.465,6.04,13.465,13.465V74.647z"
                    />
                    <path
                      fill="url(#svc-g4c)"
                      d="M27.376,47.766v26.882H12.682V50.403c0-7.425,6.034-13.465,13.465-13.465c1.324,0,2.577,0.253,3.781,0.608C28.352,40.63,27.376,44.068,27.376,47.766z"
                    />
                    <path
                      fill="url(#svc-g4a)"
                      d="M30.459,82.428h39.07V47.766c0-10.773-8.769-19.535-19.535-19.535c-10.779,0-19.535,8.762-19.535,19.535V82.428z"
                    />
                  </svg>
                )}
              </div>

              <div class="svc-content">
                <h3 class="svc-title">{svc.title}</h3>
                <p class="svc-desc">{svc.description}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  document.querySelectorAll('#expertise .reveal').forEach((el) => {
    const io = new IntersectionObserver(
      ([entry]) => {
        if (entry.isIntersecting) {
          el.classList.add('visible');
          io.disconnect();
        }
      },
      { threshold: 0.1 }
    );
    io.observe(el);
  });
</script>

<style>
  .services-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
  @media (min-width: 640px) {
    .services-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  .svc-card {
    position: relative;
    border-radius: 1rem;
    border: 1px solid var(--border);
    background: var(--bg-card);
    transition:
      border-color 0.3s ease,
      transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
      box-shadow 0.35s ease;
  }
  .svc-card:hover {
    border-color: rgba(99, 102, 241, 0.45);
    transform: translateY(-4px);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.3);
  }

  .svc-inner {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    padding: 1.5rem;
    border-radius: inherit;
    background: transparent;
    height: 100%;
  }

  .svc-icon-box {
    flex-shrink: 0;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    background: rgba(99, 102, 241, 0.08);
    border: 1px solid rgba(99, 102, 241, 0.15);
    transition:
      background 0.35s ease,
      border-color 0.35s ease,
      transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    padding: 10px;
  }
  .svc-card:hover .svc-icon-box {
    background: rgba(99, 102, 241, 0.15);
    border-color: rgba(99, 102, 241, 0.4);
    transform: rotate(-6deg) scale(1.1);
  }

  .svc-svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .svc-card .svc-svg stop {
    transition: stop-color 0.4s ease;
  }
  .svc-card:hover .svc-svg stop:first-child {
    stop-color: #22d3ee;
  }
  .svc-card:hover .svc-svg stop:last-child {
    stop-color: #c026d3;
  }

  .svc-content {
    flex: 1;
  }

  .svc-title {
    font-size: 1.05rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    margin-bottom: 0.4rem;
    color: var(--text);
    transition: color 0.3s ease;
  }
  .svc-card:hover .svc-title {
    color: var(--accent);
  }

  .svc-desc {
    font-size: 0.875rem;
    line-height: 1.65;
    color: var(--text-muted);
    transition: color 0.3s ease;
  }
  .svc-card:hover .svc-desc {
    color: var(--text);
  }

  :global([data-theme='light']) .svc-card:hover {
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
  }
  :global([data-theme='light']) .svc-card:hover .svc-desc {
    color: var(--text-muted);
  }
</style>
